*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

main, footer{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,37,200,1) 0%, rgba(0,212,255,1) 100%);
}

a{
    text-decoration: none;
    font-size: 21px;
    color: rgb(234, 130, 130);
    font-style: italic;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-weight: 1000;
}

.name{
    font-style: normal;
    color: rgb(167, 75, 242);
}

.nav-ic{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border: 1px solid black;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(171,37,200,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

#home{
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
}

.n{
    color: rgb(237, 237, 16);
    font-weight: 800;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.ankit{
    width: 300px;
    height: 300px;
    border-radius: 400px;
}

#skills{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 80vh;
    gap: 30px;
}

.skill{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: 2px solid black;
}

.skl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects, #contact{
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    gap: 20px;
}

.card{
    height: 35vh;
    width: 20%;
    background-color: white;
    padding: 2px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 60%;
    height: 37px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgba(233, 20, 187, 0.629);
    font-size: 15px;
    color: rgb(139, 242, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    -webkit-text-stroke: 0px;
}

p{
    text-align: center;
}

.ctc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inp{
    width: 35%;
    height: 40px;
    border: 2px solid black;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.txt{
    width: 35%;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.submit-btn{
    width: 10%;
    height: 30px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgba(234, 61, 197, 0.864);
    font-size: 15px;
    color: rgb(18, 247, 94);
}

.ft1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
}

.ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer{
    border: 2px solid black;
}

h1{
    text-align: center;
    color:rgb(237, 237, 16);
    font-style: italic;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 900;
    font-size: 30px;
}

h2{
    color: rgb(16, 166, 236);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.ft2{
    background: rgba(255, 255, 255, 0.2);
}